@import '../../Utilities/variables';


.note-content{
    font-family: $regular-font;
    & .edit-note-btn{
        background:none;
        padding:0rem;
        color: $mid-brown;
    }
    & .note-date{

    }
}
