@import '../../../Components/Utilities/variables';

.part-select{
    & select{
        margin-top: 2rem;
        margin-left: 20rem;
        background-color: $second-teal;
        color: $dk-warm-brown;
        padding: .25rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        border-radius: 5px;
    }
}
.part-label{
    padding-top:1rem;
    padding-right: .5rem;
    font-family: $heading-font;
    color: $dark-teal;
    font-size: 2rem;
    margin-left: 24rem;
    margin-right: .2rem;
    margin-top: 2rem;
}
.part-date{
    color: $dk-warm-brown;
    font-size: 2rem;
    background-color: $second-teal;
    margin-left: 20rem;
    border:none;
    border-radius:5px;
    font-family: $regular-font;
}
.new-part.conts{
    margin-left: 20rem;
}
.save-part-btn{
    margin-left: 20rem;
    font-size: 2rem;
}
.new-part-form{
    margin-top: 3rem;
    margin-left: 10rem;
}
.new-part-img img{
    width: 25rem;
    opacity: 90%;
    margin-top: 2rem;
    box-shadow: 10px 10px 15px $dark-teal;
}
