@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
.res-table th, td {
  height: 1rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
}

.all-res-row {
  height: 1rem;
}

.name-col {
  width: 18rem;
  padding-left: 4rem;
}

.iden-col {
  width: 10rem;
}

.ass-col {
  width: 12rem;
}

.detail-link {
  background: none;
  padding: 0rem;
  color: #6F4329;
}

.res-part-table {
  font-family: "Cormorant Garamond", serif;
}

.res-part-table .det-activity {
  width: 15rem;
  font-size: 1rem;
  padding: .4rem;
}

.res-part-table .det-dow {
  width: 10rem;
  font-size: 1.25rem;
}

.res-part-table .det-date {
  width: 10rem;
}

.delete-part {
  font-size: 1rem;
  margin: none;
  padding: none;
  height: 1rem;
  font-size: 1rem;
  background: none;
  color: #6F4329;
}

.date-span {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
}

.detail-tbl {
  width: 60rem;
}

.new-res-form .new-res-label {
  font-family: "Cormorant Garamond", serif;
  padding-right: 2rem;
}

.new-res-form .new-res-field {
  width: 20rem;
  font-family: "Cormorant Garamond", serif;
  background-color: #46756A;
  border: none;
  margin-top: .5rem;
  color: #2e1e15;
}

.new-res-form .new-res-field:focus {
  background-color: #6F4329;
  border: 1px solid #b47f60;
}

.new-res-form h1 {
  font-family: "Dancing Script", cursive;
}

.edit-resident {
  font-size: 1rem;
  margin-left: 2rem;
}

.edit-resident label {
  font-size: 1.25rem;
}

.edit-resident .edit-res-field {
  font-size: 1.25rem;
  background-color: #46756A;
  border: none;
  border-radius: 5px;
  margin: .25rem;
}

.edit-resident .edit-res-field:focus {
  background-color: #6F4329;
  border: 2px solid #2e1e15;
}

.ass-view {
  height: 55vh;
  width: 43vw;
  overflow-y: scroll;
}

.ass-view .ass-line {
  font-family: "Dancing Script", cursive;
  width: 15vw;
  border-bottom: 2px double #003235;
}

.ass-view .ass-value {
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: "Cormorant Garamond", serif;
  border-bottom: 2px double #003235;
}

.ass-view .edit-ass-btn {
  margin-top: .5rem;
  font-size: 1.5rem;
}

.ass-form-label {
  width: 15rem;
  font-family: "Dancing Script", cursive;
}

.ass-form-input {
  margin-top: .75rem;
  background-color: #46756A;
  border: none;
  border-radius: 5px;
}

.ass-btn {
  font-size: 1.5rem;
}

.res-perc {
  width: 30rem;
  font-family: "Cormorant Garamond", serif;
}

.res-perc td {
  padding-right: .5rem;
}

.new-part {
  margin-left: 14rem;
}

.res-home {
  margin-left: 3rem;
}

.text-btn {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  padding-left: .5rem;
  padding-right: .5rem;
  background: none;
  text-decoration: none;
  padding: 0rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: 5px;
  color: #6F4329;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 5px 10px #6F4329;
          box-shadow: 5px 5px 10px #6F4329;
}

.text-btn:hover {
  color: #003235;
}
/*# sourceMappingURL=Residents.css.map */