@import '../../Utilities/variables';


//#region All Residents 
.all-res-wrapper{
   
}
.res-table th, td{
    height:1rem;
    font-family:$regular-font;
    font-size:1.5rem;
}

.all-res-row{
    height: 1rem;
}
.name-col{
    width: 18rem;
    padding-left: 4rem;
}
.iden-col{
    width: 10rem;
}
.ass-col{
    width: 12rem;
}

.detail-link{
    background:none;
    padding:0rem;
    color: $mid-brown;
}
//#endregion

.res-part-table{
    font-family:$regular-font;
    & .det-activity{
        width:40rem;
    }
    & .det-dow{
        width: 10rem;
    }
    & .det-date{
        width: 10rem;
    }

}
.date-span{
    font-family: $regular-font;
}
.detail-tbl{
    width: 60rem;
}


.new-res-form{
    
    & .new-res-label{
        padding-right: 2rem;
    }
}

//#region Resident Detail Page
.res-details{
    
}
.btn-col{
    
}

.text-btn{
    background:none;
    padding:0rem;
    color: $mid-brown;
    margin-bottom:1rem;
}

//#endregion

//#region New Resident

.new-res-form{
    
    & .new-res-label{
        font-family: $regular-font;
    }
    & .new-res-field{
        width: 20rem;
        font-family:$regular-font;
        background-color:$second-teal;
        border:none;
        margin-top:.5rem;
        color: $dk-warm-brown;
        &:focus{
            background-color: $mid-brown;
            border: 1px solid $warm-brown
        }
    }
    & h1{
        font-family:$heading-font;
    }
}

//#endregion

.res-perc{
    width: 30rem;
    font-family: $regular-font;
    & td{
        padding-right:.5rem;
    }
}


.new-part{
    margin-left:14rem;
}
.res-home{
    margin-left: 3rem;
}
