@import '../../Utilities/variables';

.res-table{
    
    & .name-col{
        width: 15rem;
    }
    & .iden-col{
        width: 10rem;
    }
    & .ass-col{
        width: 10rem;
    }
}
.res-part-table{
    font-family:$regular-font;
    & .det-activity{
        width:30rem;
    }
    & .det-dow{
        width: 10rem;
    }
    & .det-date{
        width: 10rem;
    }

}
.date-span{
    font-family: $regular-font;
}
.detail-tbl{
    width: 60rem;
}


.new-res-form{
    
    & .new-res-label{
        padding-right: 2rem;
    }
}

.res-details{
    
}
.res-perc{
    width: 30rem;
    font-family: $regular-font;
    & td{
        padding-right:.5rem;
    }
}

.new-note-btn{
    border-radius:10px;
    background-color: $mid-brown;
}
.new-part{
    margin-left:14rem;
}
.res-home{
    margin-left: 3rem;
}