@import '../../Utilities/variables';


//#region All Residents 
.all-res-wrapper{
   
}
.res-table th, td{
    height:1rem;
    font-family:$regular-font;
    font-size:1.5rem;
}

.all-res-row{
    height: 1rem;
}
.name-col{
    width: 18rem;
    padding-left: 4rem;
}
.iden-col{
    width: 10rem;
}
.ass-col{
    width: 12rem;
}

.detail-link{
    background:none;
    padding:0rem;
    color: $mid-brown;
}
//#endregion

//#region Resident Participation Component
.res-part-table{
    font-family:$regular-font;
    & .det-activity{
        width:15rem;
        font-size: 1rem;
        padding:.4rem;
    }
    & .det-dow{
        width: 10rem;
        font-size: 1.25rem;
    }
    & .det-date{
        width: 10rem;
    }
}
.delete-part{
    font-size: 1rem;
    margin: none;
    padding: none;
    height: 1rem;
    font-size:1rem;
    background: none;
    color: $mid-brown;
}

.date-span{
    font-family: $regular-font;
    font-size: 1.25rem;
}
.detail-tbl{
    width: 60rem;
}

//#endregion

//#region Resident Detail Page
.res-details{
    
}
.btn-col{
    
}


//#endregion

//#region New Resident


.new-res-form{
    
    .new-res-label{
        font-family: $regular-font;
        padding-right: 2rem;
    }
    .new-res-field{
        width: 20rem;
        font-family:$regular-font;
        background-color:$second-teal;
        border:none;
        margin-top:.5rem;
        color: $dk-warm-brown;
        &:focus{
            background-color: $mid-brown;
            border: 1px solid $warm-brown
        }
    }
    h1{
        font-family:$heading-font;
    }
}

//#endregion

//#region Edit Resident in Modal

.edit-resident{
    font-size: 1rem;
    margin-left: 2rem;
    label{
        font-size: 1.25rem;
    }
    .edit-res-field{
        font-size: 1.25rem;
        background-color: $second-teal;
        border:none;
        border-radius: 5px;
        margin: .25rem;
        &:focus{
            background-color: $mid-brown;
            border: 2px solid $dk-warm-brown;
        }
    }
}

//#endregion

//#region View Resident Assessment
.ass-view{
    height: 55vh;
    width: 43vw;
    overflow-y:scroll;
    .ass-line{
        font-family:$heading-font;
        width: 15vw;
        border-bottom: 2px double $dark-teal;
    }
    .ass-value{
        font-size:1.25rem;
        padding-top:.5rem;
        padding-bottom: .5rem;
        font-family:$regular-font;
        border-bottom: 2px double $dark-teal;
    }
    .edit-ass-btn{
        margin-top: .5rem;
        font-size: 1.5rem;
    }
}

//#endregion

//#region Edit/New Assessment
.ass-form-label{
    width: 15rem;
    font-family: $heading-font;
}
.ass-form-input{
    margin-top: .75rem;
    background-color: $second-teal;
    border: none;
    border-radius: 5px;
}
.ass-btn{
    font-size: 1.5rem;
}


//#endregion

.res-perc{
    width: 30rem;
    font-family: $regular-font;
    td{
        padding-right:.5rem;
    }
}


.new-part{
    margin-left:14rem;
}
.res-home{
    margin-left: 3rem;
}

.text-btn{
    font-family: $regular-font;
    font-weight: 700;
    padding-left: .5rem;
    padding-right: .5rem;
    background:none;
    text-decoration:none;
    padding:0rem;
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: 5px;
    color: $mid-brown;
    margin-bottom:1rem;
    box-shadow: 5px 5px 10px $mid-brown;
}