@import '../../Utilities/variables';

.anon-page {
    background-color: $light-teal;
    position: relative;
}
.page-content{
    position:relative;
    z-index:2;
}
.tutorial-nav{
    & .nav-pills{
        margin-top: 5rem;
        margin-left: 9px;
        border-radius: 10px;
    }
    & .nav-link{
        color: $light-teal;
    }
    & .nav-link:hover{
        color:$warm-brown;
    }
    & .nav-link:active{
        color: $light-teal;
    }
    & .nav-link:focus{
        color: $light-yellow;
    }
}
.home-container{
    
    & .welcome-msg{
        font-family: $heading-font;
        font-size: 4rem;
    }
    & .quote-msg{
        font-family: $quote-font;
        margin-left: 8rem;
        animation: color-change 5s infinite;
        font-size: 2rem;
    }
    & .author-msg{
        font-family: $quote-font;
        margin-left: 20rem;
    }
}
@keyframes color-change {
    0%{ color: rgb(11, 47, 61)}
    20%{color:rgb(83, 63, 197) }
    35%{color: rgb(174, 99, 235)}
    60%{color: rgb(247, 142, 233)}
    70%{color: rgb(174, 99, 235)}
    85%{color:rgb(83, 63, 197) }
    100%{color: rgb(11, 47, 61)}
}
.anon-home{
    margin-left:12.5rem;
}
