@import '../../../Components/Utilities/variables';

.activity-table{
    font-family: $regular-font;
    font-size:1.5rem;
    .name-col, .iden-col{
        font-family:$regular-font;
        font-size: 1.5rem;
        padding: .5rem;
    }
}
h3{
    font-family: $heading-font;
    color: $dark-teal;
}

//#region Activity Details
.act-dow-col{
    font-family: $regular-font;
    font-size: 1.5rem;
    width: 15rem;
    color:$dark-teal;
    
}

//#endregion

//#region Edit Activities/Add Activity

.edit-act-label{
    font-family:$heading-font;
}
.edit-act-field{
    background-color: $half-second-teal;
    border: none;
    border-radius: 5px;
    width: 20rem;
}
.select-dow{
    margin-left:2rem;
    & select{
        background-color: $half-second-teal;
        color: $dark-teal;
        border-radius: 5px;
    }
}
.tab-dow{
    margin-left: 2rem;
}

.add-act-btn{
    margin-top:2rem;
    margin-left:2rem;
}
//#endregion

//#region Activity Home
.cheating{
    z-index: -10;
    width:10px;
    height:10px;
}
//#endregion