@import '../../../Components/Utilities/variables';

.activity-table{
    font-family: $regular-font;
    font-size:1.5rem;
    .name-col, .iden-col{
        font-family:$regular-font;
        font-size: 1.5rem;
        padding: .5rem;
    }
}
h3{
    font-family: $heading-font;
    color: $dark-teal;
}
.alert-p{
    text-align:left;
    font-size: 2rem;
    color: $mid-brown;
}
.lacking-dow{
    margin-top: 2rem;
}

//#region Activity Details
.act-dow-col{
    font-family: $regular-font;
    font-size: 1.5rem;
    width: 15rem;
    color:$dark-teal;
}
.activity-details{
    p{
        font-size: 1.5rem;
    }
}

//#endregion

//#region Edit Activities/Add Activity

.edit-act-label{
    font-family:$heading-font;
}
.edit-act-field{
    background-color: $half-second-teal;
    border: none;
    border-radius: 5px;
    width: 20rem;
}
.tab-dow{
    margin-left: 2rem;
}

.add-act-btn{
    margin-top:2rem;
    margin-left:2rem;
}
//#endregion

//#region Activity Home

.act-alert-home{
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.75rem;
    }
    h3{
        font-size: 2rem;
    }
}

.cheating{
    z-index: -10;
    width:10px;
    height:10px;
}
//#endregion

//#region Filter Date

.select-act{
    & select{
        background-color: $half-dark-teal;
        font-size: 1.5rem;
        padding: .5rem;
        border-radius: 10px;
    } 
}

.filter-date{
    background-color: $half-dark-teal;
    border: none;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: .25rem;
    padding: .5rem;
}
.fil-act-col{
    padding-left: 3rem;
    width: 20rem;
}
.fil-res-col{
    width: 20rem;
}
.fil-date-col{
    width: 15rem;
}
.filter-btn{
    margin-right: .75rem;
    font-size: 1.5rem;
}
.filter-res{
    margin-top:1rem;
    margin-left: 4rem;
}
.select-dow{
    margin-left:2rem;
    & select{
        font-size:1.5rem;
        padding: .5rem;
        background-color: $half-dark-teal;
        color: $dark-teal;
        border-radius: 10px;
    }
}
//#endregion