@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap");
::-webkit-scrollbar {
  background-color: #84c6b8;
}

::-webkit-scrollbar-thumb {
  background-color: #46756A;
}

::-webkit-scrollbar-corner {
  background-color: #84c6b8;
}

::-webkit-scrollbar-track-piece {
  background-color: #84c6b8;
}

::-webkit-scrollbar-track {
  background-color: #84c6b8;
}

.bold-text {
  font-weight: 500;
  font-size: large;
}

a {
  color: #2e1e15;
  text-decoration: none;
}

a:hover, a :focus, a :active {
  color: #f1a761;
  text-shadow: none;
}

.app-background {
  background-attachment: relative;
}

.my-wrapper {
  width: 99.75vw;
  position: relative;
  background-image: url(../Components/Images/succulent.jpg);
  background-size: cover;
}

.my-wrapper::before {
  content: "";
  background: #003235;
  opacity: 50%;
  position: absolute;
}

.nav-wrapper {
  background-color: #003235;
  width: 99.70vw;
}

.page-content {
  position: relative;
  z-index: 2;
}

.sub-nav .nav-pills {
  margin-top: 5rem;
  margin-left: 9px;
  border-radius: 10px;
}

.sub-nav .nav-link {
  color: #84c6b8;
}

.sub-nav .nav-link:hover {
  color: #b47f60;
}

.sub-nav .nav-link:active {
  color: #84c6b8;
}

.sub-nav .nav-link:focus {
  color: #f1a761;
}

#v-pills-tut-home-tab,
#v-pills-dow-tab,
#v-pills-som-tab,
#v-pills-assessments-tab,
#v-pills-links-tab,
#v-pills-feat-dow-tab,
#v-pills-feat-track-tab,
#v-pills-feat-screens-tab,
#v-pills-feat-home-tab,
#v-pills-all-res-tab,
#v-pills-arch-res-tab,
#v-pills-new-res-tab,
#v-pills-all-act-tab,
#v-pills-dow-act-tab,
#v-pills-new-act-tab {
  background-color: #003235;
  margin-top: .5rem;
  width: 10rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
  text-align: center;
}

#nav-home-tab,
#nav-tutorials-tab,
#nav-features-tab,
#nav-residents-tab,
#nav-activities-tab,
#nav-participation-tab {
  margin-top: 1rem;
  background-color: #003235;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid #84c6b8;
  border-right: 2px solid #84c6b8;
  border-bottom: none;
  color: #84c6b8;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
}

#nav-home-tab .nav:hover,
#nav-tutorials-tab .nav:hover,
#nav-features-tab .nav:hover,
#nav-residents-tab .nav:hover,
#nav-activities-tab .nav:hover,
#nav-participation-tab .nav:hover {
  color: #b47f60;
}

#nav-tab {
  border-bottom: none;
}

button {
  background-color: #003235;
  color: #84c6b8;
  border: none;
  padding: .5rem;
}

.conts {
  width: 80vw;
  height: 90vh;
  border: solid 3px #003235;
  border-top: none;
  background-color: #84c6b8c9;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  overflow-y: scroll;
  padding-top: 1rem;
}
/*# sourceMappingURL=App.css.map */