@import '../Components/Utilities/variables';
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap');


::-webkit-scrollbar{
    background-color: $light-teal; 
}

::-webkit-scrollbar-thumb{
    background-color: $second-teal; 
}

::-webkit-scrollbar-corner{
    background-color: $light-teal;
}

::-webkit-scrollbar-track-piece{
    background-color: $light-teal;
}

::-webkit-scrollbar-track{
    background-color: $light-teal;
}

.bold-text{
    font-weight:500;
    font-size:large;
}
a{
    color: $dk-warm-brown;
    text-decoration: none;
    &:hover, :focus, :active{
        color: $light-yellow;
        text-shadow:none;
    }
}

.app-background{
    background-attachment: relative;
}
.my-wrapper{
    width: 99.75vw;
    height: 85vh;
    position:relative;
    background-image: url(../Components/Images/succulent.jpg);
    background-size: cover;

}
.my-wrapper::before {
    content:"";
    background: $dark-teal;
    opacity:50%;
    position:absolute;
}

.nav-wrapper{
    background-color: $dark-teal;
    width:99.50vw;
}
.page-content{
    position:relative;
    z-index:2;
}
.sub-nav{
    & .nav-pills{
        margin-top: 5rem;
        margin-left: 9px;
        border-radius: 10px;
    }
    & .nav-link{
        color: $light-teal;
    }
    & .nav-link:hover{
        color:$warm-brown;
    }
    & .nav-link:active{
        color: $light-teal;
    }
    & .nav-link:focus{
        color: $light-yellow;
    }
}
#v-pills-tut-home-tab,
#v-pills-dow-tab,
#v-pills-som-tab,
#v-pills-assessments-tab,
#v-pills-links-tab,
#v-pills-feat-dow-tab,
#v-pills-feat-track-tab,
#v-pills-feat-screens-tab,
#v-pills-feat-home-tab,
#v-pills-all-res-tab,
#v-pills-arch-res-tab,
#v-pills-new-res-tab,
#v-pills-all-act-tab,
#v-pills-dow-act-tab,
#v-pills-new-act-tab,
#v-pills-arch-act-tab{
    background-color: $dark-teal;
    margin-top: 1rem;
    width: 15rem;
    font-family: $regular-font;
    font-size: 1.75rem;
    text-align:center;
    margin-left: 2rem;
}

#nav-home-tab,
#nav-tutorials-tab,
#nav-features-tab,
#nav-residents-tab,
#nav-activities-tab,
#nav-participation-tab {
    margin-top: 1rem;
    background-color:$dark-teal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top:2px solid $light-teal;
    border-right: 2px solid $light-teal;
    border-bottom: none;
    color: $light-teal;
    font-family:$regular-font;
    font-size:2rem;
    text-align:center;
    & .nav:hover{
        color: $warm-brown;
    }
}
#nav-tab{
    border-bottom: none;
}
button{
    background-color: $dark-teal;
    color: $light-teal;
    border: none;
    padding: .5rem;
}

.conts{
    width: 80vw;
    height: 80vh;
    border: $teal-border;
    border-top:none;
    background-color: $half-light-teal;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left:1rem;
    overflow-y:auto;
    padding-top:1rem;
}

.text-btn{
    font-family: $regular-font;
    font-weight: 700;
    padding-left: .5rem;
    padding-right: .5rem;
    background:none;
    text-decoration:none;
    padding:0rem;
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: 5px;
    color: $mid-brown;
    margin-bottom:1rem;
    box-shadow: 5px 5px 10px $dark-teal;
    &:hover{
        color:$dark-teal;
    }
}