@import '../Components/Utilities/_variables.scss';

html{
    background-color: $dark-teal;
    width:98vw;
}
#root{
    font-size: 18px;
    background-color: $dark-teal;
}


#root{
    --toastify-color-light: rgb(124, 150, 155);
    --toastify-toast-width: 420px;
    --toastify-toast-background: rgb(124, 150, 155);
    --toastify-toast-min-height: 100px;
    --toastify-toast-max-height: 300px;
    --toastify-font-family: $regular-font;
    --toastify-text-color-light: rgb(13, 70, 77); 
}