@import '../../Utilities/variables';

.assessment-main{
    & h1{
        margin-top:.25em;
        margin-bottom: 1em;
        color: $dark-teal;
    }
    & p{
        margin-left:1em;
        margin-right: 3em;
        text-align:justify;
    }
}

.sample-ass-container{
    & h1{
        margin-left:2em;
        color: $dark-teal;
    }
    & p{
        margin-left: 2em;
        text-align: justify;
    }
    & li{
        padding: 3px;
        font-weight: bold;
    }
    & .tab-in{
        margin-left:5em;
    }
    & .extra-tab{
        margin-left:3em;
    }
}

.interpret-ass{
    & h1{
        margin-top:.5em;
        margin-left:1em;
        color: $dark-teal;
    }
    &  p{
        text-align: justify;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    & ol{
        background-color:$dark-teal;
        margin-right: 3em;
        margin-left: 2em;
    }
    & li{
        color: $warm-brown;
        text-align: justify;
        margin-left: 1em;
        margin-right:1em;
    }
}

.ex-ass{
    margin-left: 3em;
    & p{
        text-align: justify;
    }
    & h1{
        margin: 20px;
        color: $dark-teal;
    }
    & .subtitle{
        font-weight: bold;
        padding-left: 3em;
    }
    & .table-top{
        margin-left: 11%;
    }
    & .table-bottom{
        margin-left: 5%;
        margin-bottom: 1em;
    }
    & .answers{
        color: $second-teal;
        font-weight: 700;
        font-style:italic;
    }
    & td{
        padding-right: 10px;
    }
}
.tea-herb-img{
    margin-top: 3em;
    width: 30vw;
    border-radius: 30px;
}
.example-explanation{
    margin-left: 1em;
}
.care-planning{
    margin-left: 2em;
    & h1{
        margin-left:1em;
        color: $dark-teal;
    }
    & li{
        margin-left:.5em;
    }
    & p{
        text-align:justify;
    }
    & img{
        width:25em;
        border-radius: 40px;
        box-shadow: 5px 5px 5px 5px $dark-teal;
        margin-top: 3em;
    }
}
.interventions{
    text-align: justify;
    & h1{
        margin-left:2em;
        color: $dark-teal;
    }
    & p{
        margin-left: 1em;
    }
    & .extra-tab{
        margin-left:2em;
    }
    & .extra-tab-two{
        margin-left:3em;
    }
}
.update-assessment{
    margin-left:2em;
    & h1{
        margin-left: 1em;
    }
    & p{
        text-align:justify;
        margin-right: 2em;
    }
}
.ending-notes{
    margin-left:2em;
    & h1{
        margin-left: 1em;
    }
    & p{
        margin-right:2em;
        text-align: justify;
    }
    & img{
        height: 25em;
    }
}
.pagination{
    margin-left: 15%;
    & .page-link{
        background-color: $dark-teal;
        border:none;
        color: $light-teal;
    }
    & .page-link:hover{
        background-color: $warm-brown;
        color: $light-teal;
    }
    & .page-link:focus{
        background-color: $light-teal;
        color: $dark-teal;
        text-shadow: none;
    }
}