@import '../../Utilities/variables';

.assessment-main{
    & h1{
        margin-bottom: 1rem;
        color: $dark-teal;
    }
    & p{
        margin-left:1rem;
        margin-right: 3rem;
        text-align:justify;
    }
}

.sample-ass-container{
    & h1{
        margin-top:1rem;
        margin-left:2rem;
        color: $dark-teal;
    }
    & p{
        margin-left: 2rem;
        text-align: justify;
    }
    & li{
        padding: 3px;
        font-weight: bold;
        font-family:$regular-font;
        font-size: 1.25rem;
    }
    & .tab-in{
        margin-left:5rem;
    }
    & .extra-tab{
        margin-left:3rem;
        margin-right: 2rem;
    }
}

.interpret-ass{
    & h1{
        margin-top:1rem;
        margin-left:1rem;
        color: $dark-teal;
    }
    &  p{
        text-align: justify;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    & ol{
        background-color:$dark-teal;
        margin-right: 3rem;
        margin-left: 2rem;
        box-shadow: $golden-box-shadow;
    }
    & li{
        color: $warm-brown;
        text-align: justify;
        margin-left: 1rem;
        margin-right:1rem;
    }
}

.ex-ass{
    margin-left: 3rem;
    font-family: $regular-font;
    & p{
        text-align: justify;
    }
    & h1{
        margin: 20px;
        color: $dark-teal;
    }
    & .subtitle{
        font-weight: bold;
        padding-left: 3rem;
    }
    & .table-top{
        margin-left: 11%;
    }
    & .table-bottom{
        margin-left: 5%;
        margin-bottom: 1rem;
    }
    & .answers{
        color: $dk-warm-brown;
        font-weight: 700;
        font-style:italic;
    }
    & td{
        padding-right: 10px;
        font-weight:500;
    }
}
.sample-interventions{
    font-size:1.25rem;
    font-family: $regular-font;
    color:$dk-warm-brown;
    margin-left:3rem;
}
.tea-herb-img{
    margin-top: 3rem;
    width: 25vw;
    border-radius: 30px;
    box-shadow: $golden-box-shadow;
}
.example-explanation{
    margin-left: 1rem;
}
.care-planning{
    margin-top:1rem;
    margin-left: 2rem;
    & h1{
        margin-left:1rem;
        color: $dark-teal;
    }
    & li{
        margin-left:.5rem;
        color: $dk-warm-brown;
        font-weight: 600;
        font-family: $regular-font;
    }
    & p{
        text-align:justify;
    }
    & img{
        width:20rem;
        opacity: 75%;
        border-radius: 40px;
        box-shadow: 5px 5px 5px 5px $dark-teal;
        margin-top: 3rem;
    }
}

.interventions{
    margin-top:1rem;
    text-align: justify;
    font-family: $regular-font;
    & h1{
        margin-left:2rem;
        color: $dark-teal;
    }
    & p{
        margin-left: 1rem;
    }
    & .extra-tab{
        margin-left:2rem;
        color: $dk-warm-brown;
        font-weight: 600;
    }
    & .extra-tab-two{
        margin-left:3rem;
        color: $dk-warm-brown;
        font-weight: 600;
    }
}
.update-assessment{
    margin-top:1rem;
    margin-left:2rem;
    & h1{
        margin-left: 1rem;
    }
    & p{
        text-align:justify;
        margin-right: 2rem;
    }
}
.ending-notes{
    margin-top: 2rem;
    margin-left:2rem;
    & h1{
        margin-left: 1rem;
    }
    & p{
        margin-right:2rem;
        text-align: justify;
    }
    & img{
        height: 25rem;
        border-radius: 10px;
        box-shadow: 10px 10px 10px $dark-teal;
    }
}
.pagination{
    margin-left: 15%;
    & .page-link{
        background-color: $dark-teal;
        border:none;
        color: $light-teal;
    }
    & .page-link:hover{
        background-color: $warm-brown;
        color: $light-teal;
    }
    & .page-link:focus, .page-ling:active{
        background-color: $light-teal;
        color: $dark-teal;
        text-shadow: none;
    }  
}