@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
.assessment-main h1 {
  margin-bottom: 1rem;
  color: #003235;
}

.assessment-main p {
  margin-left: 1rem;
  margin-right: 3rem;
  text-align: justify;
}

.sample-ass-container h1 {
  margin-top: 1rem;
  margin-left: 2rem;
  color: #003235;
}

.sample-ass-container p {
  margin-left: 2rem;
  text-align: justify;
}

.sample-ass-container li {
  padding: 3px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
}

.sample-ass-container .tab-in {
  margin-left: 5rem;
}

.sample-ass-container .extra-tab {
  margin-left: 3rem;
  margin-right: 2rem;
}

.interpret-ass h1 {
  margin-top: 1rem;
  margin-left: 1rem;
  color: #003235;
}

.interpret-ass p {
  text-align: justify;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.interpret-ass ol {
  background-color: #003235;
  margin-right: 3rem;
  margin-left: 2rem;
  -webkit-box-shadow: 0px 0px 15px #f1a761;
          box-shadow: 0px 0px 15px #f1a761;
}

.interpret-ass li {
  color: #b47f60;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ex-ass {
  margin-left: 3rem;
  font-family: "Cormorant Garamond", serif;
}

.ex-ass p {
  text-align: justify;
}

.ex-ass h1 {
  margin: 20px;
  color: #003235;
}

.ex-ass .subtitle {
  font-weight: bold;
  padding-left: 3rem;
}

.ex-ass .table-top {
  margin-left: 11%;
}

.ex-ass .table-bottom {
  margin-left: 5%;
  margin-bottom: 1rem;
}

.ex-ass .answers {
  color: #2e1e15;
  font-weight: 700;
  font-style: italic;
}

.ex-ass td {
  padding-right: 10px;
  font-weight: 500;
}

.sample-interventions {
  font-size: 1.25rem;
  font-family: "Cormorant Garamond", serif;
  color: #2e1e15;
  margin-left: 3rem;
}

.tea-herb-img {
  margin-top: 3rem;
  width: 25vw;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 15px #f1a761;
          box-shadow: 0px 0px 15px #f1a761;
}

.example-explanation {
  margin-left: 1rem;
}

.care-planning {
  margin-top: 1rem;
  margin-left: 2rem;
}

.care-planning h1 {
  margin-left: 1rem;
  color: #003235;
}

.care-planning li {
  margin-left: .5rem;
  color: #2e1e15;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}

.care-planning p {
  text-align: justify;
}

.care-planning img {
  width: 20rem;
  opacity: 75%;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 5px 5px #003235;
          box-shadow: 5px 5px 5px 5px #003235;
  margin-top: 3rem;
}

.interventions {
  margin-top: 1rem;
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
}

.interventions h1 {
  margin-left: 2rem;
  color: #003235;
}

.interventions p {
  margin-left: 1rem;
}

.interventions .extra-tab {
  margin-left: 2rem;
  color: #2e1e15;
  font-weight: 600;
}

.interventions .extra-tab-two {
  margin-left: 3rem;
  color: #2e1e15;
  font-weight: 600;
}

.update-assessment {
  margin-top: 1rem;
  margin-left: 2rem;
}

.update-assessment h1 {
  margin-left: 1rem;
}

.update-assessment p {
  text-align: justify;
  margin-right: 2rem;
}

.ending-notes {
  margin-top: 2rem;
  margin-left: 2rem;
}

.ending-notes h1 {
  margin-left: 1rem;
}

.ending-notes p {
  margin-right: 2rem;
  text-align: justify;
}

.ending-notes img {
  height: 25rem;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px #003235;
          box-shadow: 10px 10px 10px #003235;
}

.pagination {
  margin-left: 15%;
}

.pagination .page-link {
  background-color: #003235;
  border: none;
  color: #84c6b8;
}

.pagination .page-link:hover {
  background-color: #b47f60;
  color: #84c6b8;
}

.pagination .page-link:focus, .pagination .page-ling:active {
  background-color: #84c6b8;
  color: #003235;
  text-shadow: none;
}
/*# sourceMappingURL=Assessments.css.map */