@import '../../Utilities/variables';

.tutorial-container{
    
}
h1{
    margin-left: 1rem;
    margin-top:.25rem;
    color: $dark-teal;
    font-family: $heading-font;
}
h5{
    color: $dark-teal;
}

p{
    margin-left: 1rem;
    margin-right: 3rem;
    text-align: justify;
    font-family: $regular-font;
}
.category{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    font-family:$regular-font;
    & h3{
        margin: 5px;
        color: $dark-teal;
        font-size: large;
    }
    & a {
        color: $light-yellow;
        text-shadow: 1px 1px $dk-warm-brown;
        text-decoration: none;
        &:hover{
            color: $dk-warm-brown;
            text-shadow:none;
        }
    }
}
.dow-each-description{
    color: $dark-teal;
    text-align:justify;
    border: solid 1px $light-teal; 
    padding: 8px;
    padding-right: 15px;
    margin-top:3rem;
    & .bold{
        font-weight:700;
    }
}
.active-cat{
    background-color: $light-teal;
}
.link-cats{
    color: $light-yellow;
    text-shadow: 1px 1px $dk-warm-brown;
    text-decoration: none;
    &:hover{
        color: $dk-warm-brown;
        text-shadow:none;
    }
}

.nav-tabs{
    border:none;
    border-bottom: none;
}
.link-summary{
    position:relative;
}
.sticky-cat{
    position:sticky;
}
