@import '../../Utilities/variables';

.title-bar{
    height: 18vh;
    width:99vw;
    background-color: $dark-teal;
}
.title{
    padding-top:4rem;
    position: absolute;
    top: -4rem;
    color: $warm-brown;
    font-family: $quote-font;
    font-size: 7rem;
}
.log-reg{
    padding-top:2rem;
    color: $warm-brown;
    font-family: $quote-font;
    font-size: 2.25rem;
    & span{
        margin-left: 1.5rem;
    }
    & a{
        color: $warm-brown;
        text-decoration: none;
    }
}