$dark-teal: #003235;
$second-teal: #46756A;
$half-second-teal: #46756ada;
$light-teal: #84c6b8;
$warm-brown: #b47f60;
$dk-warm-brown: #2e1e15;
$light-yellow: #f1a761;

$small-screen-max:900px;
$large-screen-min:1700px;
