@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

// 'Dancing Script', cursive;
// 'Tangerine', cursive;
// 'Parisienne', cursive;
// 'Lobster Two', cursive;
// 'Arima Madurai', cursive;
// 'Cormorant Garamond', serif;

$dark-teal: #003235;
$second-teal: #46756A;
$half-second-teal: #46756ada;
$light-teal: #84c6b8;
$warm-brown: #b47f60;
$dk-warm-brown: #2e1e15;
$light-yellow: #f1a761;
$error-color:#ec5d1b;

$quote-font: 'Tangerine', cursive;
$heading-font: 'Dancing Script', cursive;
$regular-font: 'Cormorant Garamond', serif;