@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Lobster+Two&family=Parisienne&display=swap');

$dark-teal: #003235;
$second-teal: #46756A;
$half-second-teal: #46756ada;
$light-teal: #84c6b8;
$warm-brown: #b47f60;
$dk-warm-brown: #2e1e15;
$light-yellow: #f1a761;
$error-color:#ec5d1b;

$quote-font: 'Parisienne', cursive;
$heading-font: 'Lobster Two', cursive;
$regular-font: 'Arima Madurai', cursive;