@import '../../Utilities/variables';


.log-reg-form-label{
    margin-left: 2rem;
    color: $mid-brown;
    padding-right: 2rem;
}
.log-reg-form-input{
    background-color: $dark-teal;
    border-radius: 10px;
    padding: .25rem;
    margin: .25rem;
    margin-left: 2rem;
    width: 30rem;
    color: $light-teal;
        &:focus{
            background-color: $dk-warm-brown;
            border: 5px solid $warm-brown;
        }
}
.login-btn{
    margin-left: 2rem;
    margin-top: 1rem;
}
.log-reg-error{
    color: $error-color
}
.log-reg-btn{
    border-radius: 10px;
    width: 9rem;
    margin-top: .5rem;
}
.log-cont{
    height: 40rem;
    margin-left: 2rem;
    margin-top: 4rem;
    padding: 5rem;
    background-color: $half-light-teal;
}
.log-img img{
    margin-left: 4rem;
    width:40rem;
}

.reg-cont{
    height: 60rem;
    margin-left: 2rem;
    margin-top: 4rem;
    padding: 5rem;
    background-color: $half-light-teal;
}
.reg-img{
    position:relative;
    height:45vw;
    width: 50vh;
    display:flex;
}
.reg-img::before{
    content:"";
    background-image: url(../../Images/beach.jpg);
    background-repeat: none;
    background-size: cover;
    position: absolute;
    top:0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    opacity: 50%;
}
.pro-edit-label{
    font-family: $heading-font;
    color: $light-teal;
    margin-left: 5rem;
    margin-top:2rem;
}
.pro-edit-field{
    width: 25rem;
    color:$dk-warm-brown;
    background-color: $half-second-teal;
    border:none;
    border-radius:5px;
    margin-top:2rem;
    margin-bottom:.5rem;
    margin-left: 1rem;

}